@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto.ttf");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

.header {
    background-color: #bebebe69
}

.titles2 {
    margin-top: 25px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 100vh;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    flex-basis: 49%;
    max-width: 1400px;
    margin: 0 auto;    
}

.icon-logo{
    width: 20px;
    height: 20px;        
}
.container-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff; 
    padding: 0 20px;
}

.profile-text {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
}

.profile-text h3 {
    font-size: 16px;
}

.section {
    width: 50%;
    padding: 15px 0;
    background-color: #ffffff;
    min-width: 350px;
    justify-content: center;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.nav-list li {
    font-size: 18px;
    padding: 0 20px;
}

.nave-link {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.nav {
    display: flex;
    justify-content: end;
    margin-right: 30px;
    width: 100%;
}

.nav-item a:hover  {
    color: #0d060fa6;
}

.list-active__rest{
    list-style: none;
}
.list-active__rest li{
    left: 20px;
    text-align: start;
}

.burger{        
    position: relative;
    width: 50px;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    z-index: 10;
    cursor: pointer;    
    display: none;
}

.burger:before,.burger:after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgb(105, 9, 9);
    height: 3px;
    right: 0;
    transition: 0.5s;
}

.burger::before {
    bottom: 0;
}
.burger span{
    position: absolute;
    background-color: rgb(100, 30, 30);
    width: 100%;
    height: 3px;
    top: 13px;
    right: 0;
    transition: 0.5s;
}
.code-title{
    margin: 18px 0 5px 20px;
}

.my-pfoto {
    width: 100px;
    object-fit: contain;
    border-radius: 20px;
}
.section-hobby{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list-hobby{
    list-style: square;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.list-contacts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20%;
}

.list-contacts li::before {
    content: "♦ ";
}
.list-contacts li{
    margin: 5px;
}
.skills__list{
    list-style: none;
}

.pre-code {
    margin: 0 20px;
    color: #8a594c;
    background-color: rgba(204, 204, 204, 0.555);
}

.list-skills{
    list-style: none;
    padding-left: 60px;
    margin-top: 15px;
}
.list-skills li{
    left: 40px;
}
.project {
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
}

.project a {
    text-decoration: none;
    margin-left: 30px;
    position: relative;
}

.project a:visited {
    color: #bc14eb;
}

.project::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(./assets/svg/file_type_light_js_icon_130458.svg);
    background-repeat: no-repeat;
    fill: #8a594c;
}
.project::before:hover{
    fill: #bc14eb;
}

.project a:hover {
    display: inline-block;
    color: #020202f5;
}

.list-languages{
    list-style: none;
}

.footer a {
    text-decoration: none;
}

.footer {
    background-color: #bebebe69;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.github{
    margin-left: 30px;
}

@media screen and (max-width: 960px) {
    .section {
        width: 100%;        
        justify-content: center;
        align-items: center;
        padding: 20px;
    }    
    .section-skills,
    .section-hobby,    
    .section-education,
    .section-languages{
        width: 50%;
    }    
    .footer a {
        font-size: 15px;
    }
    .footer img {
        width: 80px;
    }
    .nav-list li {
        margin: 0px;
    }
    .nave-link {
        font-size: 17px;
    }
}

@media screen and (max-width: 830px){
    .nav-list li{
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px){
    .section{
        width: 100%;
        padding: 0 20px;
        align-items: center;
    }
    .burger{
        display: flex;
        margin: 20px;
    }
    .nav-list{      
        display: flex;
        flex-direction: column;  
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed; 
        background-color: #ffffff;
        top: -20px;
        right: -105%;   
        padding: 40px 30%;
        width: 100%;
        height: 105vh;      
        overflow: auto; 
        transition: 0.5s;             
    }
    
    .list-contacts{
        margin: 0;
    }
    .project{
        margin-left: 0;
        text-align: start;
    }    
    .nav-list li{
        margin-bottom: 20px;
    }
    
    .nave-link{
        font-size: 30px;
        line-height: 70px;        
    }   
    .open{
        right: 0;
        transition: 0.5s;
    }  
    .open::after {
        transform: rotate(-135deg) ;
        bottom: 20px;
        left: 6px;
        height: 2px;
        transition: 0.5s;
    }
    .open::before {
        transform: rotate(135deg) ;
        bottom: 20px;
        left: 6px;
        height: 2px;
        transition: 0.5s;
    }

    .open span {
        transform: rotate3d(1, 1, 1,  -120deg);
        transition: 0.5s;
    }  
}
@media (max-width: 440px){
    .pre-code{
        display: inline;
        background-color: #ffffff;
        font-size: 14px;
    }
    .section{
        min-width: 300px;
    }
    .project{
        font-size: 16px;
    }
    .list-contacts{
        font-size: 14px;
    }
}




