@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
   }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
background-color: antiquewhite;
}

.header {
background-color: burlywood;
} 

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 50px;
}

.nav-list li {
    list-style-type: none;
    padding: 0 20px;
}

.nav-list li a {
    text-decoration: none;
  }

.main-header-text {
background-color: aquamarine;
}

.container {
    background-color: darkcyan;
    max-width: 1440px;
    margin: 0 auto;
}

.code {
    background-color: darkseagreen;
}

.main-footer {
    background-color: dimgrey;
}

footer {
    background-color: indianred;
}